# Lendo todas as planilhas

In [42]:
import pandas as pd

In [43]:
# Nomes planilhas
planilha_inse_2011_a_2013 = 'Indicador_INSE_por_Escola_2011_a_2013.xlsx'
planilha_inse_2015 = 'INSE_2015.xlsx'
planilha_inse_2019 = 'INSE_2019_ESCOLAS.xlsx'
planilha_inse_2021 = 'INSE_2021_escolas.xlsx'

In [44]:
df_inse_2011_a_2013 = pd.read_excel(planilha_inse_2011_a_2013)
df_inse_2015 = pd.read_excel(planilha_inse_2015)
df_inse_2019 = pd.read_excel(planilha_inse_2019)
df_inse_2021 = pd.read_excel(planilha_inse_2021)

# 2011 a 2013

In [45]:
df_inse_2011_a_2013.columns

Index(['COD_ESCOLA', 'NOME_ESCOLA', 'COD_ESTADO', 'NOME_ESTADO',
       'COD_MUNICIPIO', 'NOME_MUNICIPIO', 'ID_AREA', 'AREA', 'ID_REDE', 'REDE',
       'ID_LOCALIZACAO', 'LOCALIZACAO', 'QTD_ALUNOS_INSE',
       'INSE - VALOR ABSOLUTO', 'INSE - CLASSIFICAÇÃO'],
      dtype='object')

In [46]:
df_uniques_subset_2011_a_2013 = df_inse_2011_a_2013.drop_duplicates(subset=['COD_ESTADO', 'NOME_ESTADO'])

In [47]:
for indice, linha in df_uniques_subset_2011_a_2013.iterrows():
    print (f"ID: {linha['COD_ESTADO']}, SIGLA: {linha['NOME_ESTADO']}, ANO:2011 a 2013")

ID: 11, SIGLA: RO, ANO:2011 a 2013
ID: 12, SIGLA: AC, ANO:2011 a 2013
ID: 13, SIGLA: AM, ANO:2011 a 2013
ID: 14, SIGLA: RR, ANO:2011 a 2013
ID: 15, SIGLA: PA, ANO:2011 a 2013
ID: 16, SIGLA: AP, ANO:2011 a 2013
ID: 17, SIGLA: TO, ANO:2011 a 2013
ID: 21, SIGLA: MA, ANO:2011 a 2013
ID: 22, SIGLA: PI, ANO:2011 a 2013
ID: 23, SIGLA: CE, ANO:2011 a 2013
ID: 24, SIGLA: RN, ANO:2011 a 2013
ID: 25, SIGLA: PB, ANO:2011 a 2013
ID: 26, SIGLA: PE, ANO:2011 a 2013
ID: 27, SIGLA: AL, ANO:2011 a 2013
ID: 28, SIGLA: SE, ANO:2011 a 2013
ID: 29, SIGLA: BA, ANO:2011 a 2013
ID: 31, SIGLA: MG, ANO:2011 a 2013
ID: 32, SIGLA: ES, ANO:2011 a 2013
ID: 33, SIGLA: RJ, ANO:2011 a 2013
ID: 35, SIGLA: SP, ANO:2011 a 2013
ID: 41, SIGLA: PR, ANO:2011 a 2013
ID: 42, SIGLA: SC, ANO:2011 a 2013
ID: 43, SIGLA: RS, ANO:2011 a 2013
ID: 50, SIGLA: MS, ANO:2011 a 2013
ID: 51, SIGLA: MT, ANO:2011 a 2013
ID: 52, SIGLA: GO, ANO:2011 a 2013
ID: 53, SIGLA: DF, ANO:2011 a 2013

# 2015

In [48]:
df_inse_2015.columns

Index(['CO_ESCOLA', 'NOME_ESCOLA', 'CO_UF', 'NOME_UF', 'CO_MUNICIPIO',
       'NOME_MUNICIPIO', 'ID_AREA', 'TP_DEPENDENCIA', 'TP_LOCALIZACAO',
       'QTD_ALUNOS_INSE', 'INSE_VALOR_ABSOLUTO', 'INSE_CLASSIFICACAO'],
      dtype='object')

In [49]:
df_uniques_subset_2015 = df_inse_2015.drop_duplicates(subset=['CO_UF', 'NOME_UF'])

In [50]:
for indice, linha in df_uniques_subset_2015.iterrows():
    print (f"ID: {linha['CO_UF']}, NOME: {linha['NOME_UF']}, ANO:2015")

ID: 11, NOME: Rondônia, ANO:2015
ID: 12, NOME: Acre, ANO:2015
ID: 13, NOME: Amazonas, ANO:2015
ID: 14, NOME: Roraima, ANO:2015
ID: 15, NOME: Pará, ANO:2015
ID: 16, NOME: Amapá, ANO:2015
ID: 17, NOME: Tocantins, ANO:2015
ID: 21, NOME: Maranhão, ANO:2015
ID: 22, NOME: Piauí, ANO:2015
ID: 23, NOME: Ceará, ANO:2015
ID: 24, NOME: Rio Grande do Norte, ANO:2015
ID: 25, NOME: Paraíba, ANO:2015
ID: 26, NOME: Pernambuco, ANO:2015
ID: 27, NOME: Alagoas, ANO:2015
ID: 28, NOME: Sergipe, ANO:2015
ID: 29, NOME: Bahia, ANO:2015
ID: 31, NOME: Minas Gerais, ANO:2015
ID: 32, NOME: Espírito Santo, ANO:2015
ID: 33, NOME: Rio de Janeiro, ANO:2015
ID: 35, NOME: São Paulo, ANO:2015
ID: 41, NOME: Paraná, ANO:2015
ID: 42, NOME: Santa Catarina, ANO:2015
ID: 43, NOME: Rio Grande do Sul, ANO:2015
ID: 50, NOME: Mato Grosso do Sul, ANO:2015
ID: 51, NOME: Mato Grosso, ANO:2015
ID: 52, NOME: Goiás, ANO:2015
ID: 53, NOME: Distrito Federal, ANO:2015

# 2019

In [51]:
df_inse_2019.columns

Index(['CO_ESCOLA', 'NOME_ESCOLA', 'CO_UF', 'NOME_UF', 'CO_MUNICIPIO',
       'NOME_MUNICIPIO', 'ID_AREA', 'TP_DEPENDENCIA', 'TP_LOCALIZACAO',
       'QTD_ALUNOS_INSE', 'INSE_VALOR_ABSOLUTO', 'INSE_CLASSIFICACAO',
       'PC_NIVEL_1', 'PC_NIVEL_2', 'PC_NIVEL_3', 'PC_NIVEL_4', 'PC_NIVEL_5',
       'PC_NIVEL_6', 'PC_NIVEL_7', 'PC_NIVEL_8'],
      dtype='object')

In [52]:
df_uniques_subset_2019 = df_inse_2019.drop_duplicates(subset=['CO_UF', 'NOME_UF'])

In [53]:
for indice, linha in df_uniques_subset_2019.iterrows():
    print (f"ID: {linha['CO_UF']}, NOME: {linha['NOME_UF']}, ANO:2019")

ID: 11, NOME: Rondônia, ANO:2019
ID: 12, NOME: Acre, ANO:2019
ID: 13, NOME: Amazonas, ANO:2019
ID: 14, NOME: Roraima, ANO:2019
ID: 15, NOME: Pará, ANO:2019
ID: 16, NOME: Amapá, ANO:2019
ID: 17, NOME: Tocantins, ANO:2019
ID: 21, NOME: Maranhão, ANO:2019
ID: 22, NOME: Piauí, ANO:2019
ID: 23, NOME: Ceará, ANO:2019
ID: 24, NOME: Rio Grande do Norte, ANO:2019
ID: 25, NOME: Paraíba, ANO:2019
ID: 26, NOME: Pernambuco, ANO:2019
ID: 27, NOME: Alagoas, ANO:2019
ID: 28, NOME: Sergipe, ANO:2019
ID: 29, NOME: Bahia, ANO:2019
ID: 31, NOME: Minas Gerais, ANO:2019
ID: 32, NOME: Espírito Santo, ANO:2019
ID: 33, NOME: Rio de Janeiro, ANO:2019
ID: 35, NOME: São Paulo, ANO:2019
ID: 41, NOME: Paraná, ANO:2019
ID: 42, NOME: Santa Catarina, ANO:2019
ID: 43, NOME: Rio Grande do Sul, ANO:2019
ID: 50, NOME: Mato Grosso do Sul, ANO:2019
ID: 51, NOME: Mato Grosso, ANO:2019
ID: 52, NOME: Goiás, ANO:2019
ID: 53, NOME: Distrito Federal, ANO:2019

# 2021

In [54]:
df_inse_2021.columns

Index(['NU_ANO_SAEB', 'CO_UF', 'SG_UF', 'NO_UF', 'CO_MUNICIPIO',
       'NO_MUNICIPIO', 'ID_ESCOLA', 'NO_ESCOLA', 'TP_TIPO_REDE',
       'TP_LOCALIZACAO', 'TP_CAPITAL', 'QTD_ALUNOS_INSE', 'MEDIA_INSE',
       'INSE_CLASSIFICACAO', 'PC_NIVEL_1', 'PC_NIVEL_2', 'PC_NIVEL_3',
       'PC_NIVEL_4', 'PC_NIVEL_5', 'PC_NIVEL_6', 'PC_NIVEL_7', 'PC_NIVEL_8'],
      dtype='object')

In [55]:
df_uniques_subset_2021 = df_inse_2021.drop_duplicates(subset=['CO_UF', 'NO_UF'])

In [56]:
for indice, linha in df_uniques_subset_2021.iterrows():
    print (f"ID: {linha['CO_UF']}, NOME: {linha['NO_UF']}, ANO:2021")

ID: 11, NOME: Rondônia, ANO:2021
ID: 12, NOME: Acre, ANO:2021
ID: 13, NOME: Amazonas, ANO:2021
ID: 14, NOME: Roraima, ANO:2021
ID: 15, NOME: Pará, ANO:2021
ID: 16, NOME: Amapá, ANO:2021
ID: 17, NOME: Tocantins, ANO:2021
ID: 21, NOME: Maranhão, ANO:2021
ID: 22, NOME: Piauí, ANO:2021
ID: 23, NOME: Ceará, ANO:2021
ID: 24, NOME: Rio Grande do Norte, ANO:2021
ID: 25, NOME: Paraíba, ANO:2021
ID: 26, NOME: Pernambuco, ANO:2021
ID: 27, NOME: Alagoas, ANO:2021
ID: 28, NOME: Sergipe, ANO:2021
ID: 29, NOME: Bahia, ANO:2021
ID: 31, NOME: Minas Gerais, ANO:2021
ID: 32, NOME: Espírito Santo, ANO:2021
ID: 33, NOME: Rio de Janeiro, ANO:2021
ID: 35, NOME: São Paulo, ANO:2021
ID: 41, NOME: Paraná, ANO:2021
ID: 42, NOME: Santa Catarina, ANO:2021
ID: 43, NOME: Rio Grande do Sul, ANO:2021
ID: 50, NOME: Mato Grosso do Sul, ANO:2021
ID: 51, NOME: Mato Grosso, ANO:2021
ID: 52, NOME: Goiás, ANO:2021
ID: 53, NOME: Distrito Federal, ANO:2021

# Encontrando IDs definitivos dos estados, baseado em comparação

In [ ]:
# Transformando as colunas de CÓDIGO DE UF como index para facilitar recuperar os NOMES de UF
df_uniques_subset_2015.set_index('CO_UF', inplace=True)
df_uniques_subset_2019.set_index('CO_UF', inplace=True)
df_uniques_subset_2021.set_index('CO_UF', inplace=True)

In [63]:
# Iniciar percorrendo os IDS do dataframe de 2011 a 2013 para comparar com as informações dos outros

for indice, linha in df_uniques_subset_2011_a_2013.iterrows():
    nome_estado_2015 = df_uniques_subset_2015.loc[linha['COD_ESTADO']]['NOME_UF']
    nome_estado_2019 = df_uniques_subset_2019.loc[linha['COD_ESTADO']]['NOME_UF']
    nome_estado_2021 = df_uniques_subset_2021.loc[linha['COD_ESTADO']]['NO_UF']
    print(f"ID: {linha['COD_ESTADO']}, NOMES:{linha['NOME_ESTADO']}, {nome_estado_2015}, {nome_estado_2019}, {nome_estado_2021}")

ID: 11, NOMES:RO, Rondônia, Rondônia, Rondônia
ID: 12, NOMES:AC, Acre, Acre, Acre
ID: 13, NOMES:AM, Amazonas, Amazonas, Amazonas
ID: 14, NOMES:RR, Roraima, Roraima, Roraima
ID: 15, NOMES:PA, Pará, Pará, Pará
ID: 16, NOMES:AP, Amapá, Amapá, Amapá
ID: 17, NOMES:TO, Tocantins, Tocantins, Tocantins
ID: 21, NOMES:MA, Maranhão, Maranhão, Maranhão
ID: 22, NOMES:PI, Piauí, Piauí, Piauí
ID: 23, NOMES:CE, Ceará, Ceará, Ceará
ID: 24, NOMES:RN, Rio Grande do Norte, Rio Grande do Norte, Rio Grande do Norte
ID: 25, NOMES:PB, Paraíba, Paraíba, Paraíba
ID: 26, NOMES:PE, Pernambuco, Pernambuco, Pernambuco
ID: 27, NOMES:AL, Alagoas, Alagoas, Alagoas
ID: 28, NOMES:SE, Sergipe, Sergipe, Sergipe
ID: 29, NOMES:BA, Bahia, Bahia, Bahia
ID: 31, NOMES:MG, Minas Gerais, Minas Gerais, Minas Gerais
ID: 32, NOMES:ES, Espírito Santo, Espírito Santo, Espírito Santo
ID: 33, NOMES:RJ, Rio de Janeiro, Rio de Janeiro, Rio de Janeiro
ID: 35, NOMES:SP, São Paulo, São Paulo, São Paulo
ID: 41, NOMES:PR, Paraná, Paraná, Paraná
ID: 42, NOMES:SC, Santa Catarina, Santa Catarina, Santa Catarina
ID: 43, NOMES:RS, Rio Grande do Sul, Rio Grande do Sul, Rio Grande do Sul
ID: 50, NOMES:MS, Mato Grosso do Sul, Mato Grosso do Sul, Mato Grosso do Sul
ID: 51, NOMES:MT, Mato Grosso, Mato Grosso, Mato Grosso
ID: 52, NOMES:GO, Goiás, Goiás, Goiás
ID: 53, NOMES:DF, Distrito Federal, Distrito Federal, Distrito Federal

### Conforme observado na célula superior, os códigos permanecem os mesmos em todos os anos, nos permitindo então criar o seguinte script

In [70]:
print('INSERT INTO saeb.tb_unidade_federativa(id_unidade_federativa, sg_unidade_federativa, no_unidade_federativa) VALUES ')

for indice, linha in df_uniques_subset_2011_a_2013.iterrows():
    
    nome_estado_2021 = df_uniques_subset_2021.loc[linha['COD_ESTADO']]['NO_UF']
    print(f"({linha['COD_ESTADO']}, '{linha['NOME_ESTADO']}', '{nome_estado_2021}'),")

print(';')

INSERT INTO saeb.tb_unidade_federativa(id_unidade_federativa, sg_unidade_federativa, no_unidade_federativa) VALUES
(11, 'RO', 'Rondônia'),
(12, 'AC', 'Acre'),
(13, 'AM', 'Amazonas'),
(14, 'RR', 'Roraima'),
(15, 'PA', 'Pará'),
(16, 'AP', 'Amapá'),
(17, 'TO', 'Tocantins'),
(21, 'MA', 'Maranhão'),
(22, 'PI', 'Piauí'),
(23, 'CE', 'Ceará'),
(24, 'RN', 'Rio Grande do Norte'),
(25, 'PB', 'Paraíba'),
(26, 'PE', 'Pernambuco'),
(27, 'AL', 'Alagoas'),
(28, 'SE', 'Sergipe'),
(29, 'BA', 'Bahia'),
(31, 'MG', 'Minas Gerais'),
(32, 'ES', 'Espírito Santo'),
(33, 'RJ', 'Rio de Janeiro'),
(35, 'SP', 'São Paulo'),
(41, 'PR', 'Paraná'),
(42, 'SC', 'Santa Catarina'),
(43, 'RS', 'Rio Grande do Sul'),
(50, 'MS', 'Mato Grosso do Sul'),
(51, 'MT', 'Mato Grosso'),
(52, 'GO', 'Goiás'),
(53, 'DF', 'Distrito Federal'),
;

In [71]:
sql_script = """
INSERT INTO saeb.tb_unidade_federativa(id_unidade_federativa, sg_unidade_federativa, no_unidade_federativa) VALUES 
(11, 'RO', 'Rondônia'),
(12, 'AC', 'Acre'),
(13, 'AM', 'Amazonas'),
(14, 'RR', 'Roraima'),
(15, 'PA', 'Pará'),
(16, 'AP', 'Amapá'),
(17, 'TO', 'Tocantins'),
(21, 'MA', 'Maranhão'),
(22, 'PI', 'Piauí'),
(23, 'CE', 'Ceará'),
(24, 'RN', 'Rio Grande do Norte'),
(25, 'PB', 'Paraíba'),
(26, 'PE', 'Pernambuco'),
(27, 'AL', 'Alagoas'),
(28, 'SE', 'Sergipe'),
(29, 'BA', 'Bahia'),
(31, 'MG', 'Minas Gerais'),
(32, 'ES', 'Espírito Santo'),
(33, 'RJ', 'Rio de Janeiro'),
(35, 'SP', 'São Paulo'),
(41, 'PR', 'Paraná'),
(42, 'SC', 'Santa Catarina'),
(43, 'RS', 'Rio Grande do Sul'),
(50, 'MS', 'Mato Grosso do Sul'),
(51, 'MT', 'Mato Grosso'),
(52, 'GO', 'Goiás'),
(53, 'DF', 'Distrito Federal')
;
""";

In [72]:
caminho_arquivo_sql = 'script_insert_unidades_federativas.sql'

# Escrevendo os dados no arquivo
with open(caminho_arquivo_sql, 'w') as arquivo:
    arquivo.write(sql_script)